body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    background: url(https://www.google.co.in/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=0ahUKEwi27rahisbQAhVLqI8KHcKxAicQjRwIBw&url=https%3A%2F%2Fwww.viz.com%2Fnaruto&psig=AFQjCNEDl43PG5XCc_xE6etKJXKEiVKXUA&ust=1480231206841767);
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

